/* ------- *
*  About   *
* ------- */

.black {
  background-color: black;
  width: 100%;
  height: 100%
}


.home-scroll-invite {
  pointer-events: none;
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  opacity: 1;
  transition: opacity .3s;
  @include bp(medium){
    bottom: 40px;
  }
}

.v-line {
  position: relative;
  width: 1px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  z-index: 20;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.2);
    z-index: 20;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 21;
    transform: scale(1,0) translate3d(0,0,0);
    background: #fff;
    animation: vert_line 6s infinite;
  }
}

@keyframes vert_line {
  0% {
      transform-origin: top left;
      transform: scale(1, 0);
      animation-timing-function: cubic-bezier(.48, .02, 0, .99)
  }
  30% {
      transform-origin: top left;
      transform: scale(1, 1)
  }
  41% {
      transform-origin: bottom left;
      transform: scale(1, 1);
      animation-timing-function: cubic-bezier(.48, .02, 0, .99)
  }
  100% {
      transform-origin: bottom left;
      transform: scale(1, 0)
  }
}


  .home-scroll-invite__label {
    margin-top: 30px;
    display: inline-block;
    color: white;
    margin-bottom: 1em;
    letter-spacing: .1em;
    letter-spacing: .2em;
    font-size: 10px;
    transform: rotate(90deg);
    transform-origin: center center;
    position: relative;
    left: -1px;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
}

svg#Calque_1 {
 width: 430px;
}

.stWave {
  fill:none;
  stroke:$base;
  stroke-width:3.761;
  stroke-linecap:round;
  stroke-miterlimit:10
}
.stDrop {
  fill:none;
  stroke:white;
  stroke-width:3.761;
  stroke-linecap:round;
  stroke-miterlimit:10
}
svg#Toque {
  height: 56px;
}
.SVGHealthy {
  fill:none;
  stroke:$base;
  stroke-width:3.761;
  stroke-linecap:round;
  stroke-miterlimit:10
}
svg#Drop {
  height: 54px;
}
svg#Healthy {
  height: 52px
}
svg#Wave {
  height: 40px
}
.one {
  padding-top: 250px;
  padding-bottom: 250px
}

.st0 {
  fill:none;
  stroke:white;
  stroke-width:26.6579;
  stroke-miterlimit:10;
}
.st1 {
  fill:#C0CEE0
}
.mwi {
  fill: white
}

//About Grid
.grid--about {
    margin: 0 auto;
    padding: 1em;
    max-width: 900px;
    flex-direction: row-reverse;
    @include bp(medium){
      padding: 2em;
    }
  }
  
  .grid--about h2 {
    font-size: 3em;
    font-weight: bold;
    margin: 0 0 2rem 0;
    @include bp(medium){
      font-size: 3.75em;
    }
  }
  
  .about-image--1 {
    margin: 0 0 1rem 0;
    @include bp(medium){
      margin: 0 0 1rem 0;
    }
  }
  
  .about-image--3 {
    margin: 0 0 1rem 0;
    @include bp(medium){
      margin: 0 0 1rem 0;
    }
  }
  
  //Bio Text
  .bio {
    max-width: 600px;
    padding: 0 1em;
    margin: 2em auto;
    p {
      margin: 0 0 2em 0;
    }
  }
  
  //Full Bleed Image Page Divider
  .page-divider {
    margin: 4rem 0 2rem;
    width: 100%;
    div { max-height: 750px; }
  }
  .titleRespect{
    font-weight: 700 !important;
  }
  .wwf {
    max-width: 800px;
    h3 {
      transform: translateX(2px);
      letter-spacing: 0.10526em;
      padding-top: 25px;
      text-transform: uppercase;
      line-height: 1.36842rem;
      font-weight: 700;
      font-size: 0.7em;
      margin: 0 0 1em 0;
      color : white
    }
    h2 {
      font-size: 2em;
      font-weight: 700;
      text-transform: uppercase;
      padding-top: 2px;
      color: white
    }
    h4 {
      font-size: 1.4em;
      letter-spacing: 0.1em;
      font-weight: 200;
      text-transform: uppercase;
      padding-top: 12px;
      line-height: 1.1;
      color : white;
    }
    .p_wwf {
      font-size: .89474rem;
      line-height: 1.36842rem;
      letter-spacing: 0.04em;
      font-weight: 300;
      padding-top: 12px;
      padding-bottom: 30px;
      color: white

    }
    .link--line-to-left2 {
      display: inline-block;
      padding-left: 85px;
      padding-right: 85px;
      position: relative;
      transition: .708s ease-out;
      color: white
    }
    .link--line-to-left2 {
      display: inline-block;
      padding-left: 85px;
      padding-right: 85px;
      position: relative;
      transition: .708s ease-out;
      color: white
    }
    .field {
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.04em;
      font-size : 0.8em
    }
    .link--line-to-left2:before {
      transition: .6s ease-out .108s;
      content: '';
      display: inline-block;
      width: 72px;
      height: 1px;
      background-color: white;
      position: absolute;
      top: 50%;
      left: 0;
  }
  .link--line-to-left2:after {
    transition: .6s ease-out .108s;
    content: '';
    display: inline-block;
    width: 72px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 50%;
    right: 0;
}

  }
  
  //Bucket list
  .bucket-list {
    // height: 500px;
    // background: $secondary;
    padding-left: 2em;
    margin: 0 0 1em 0;
    border-radius: 2px;
    &:hover {
      .link--line-to-left:before {
        width: 0;
      }
      .link--line-to-left3:before {
        width: 0;
      }
      .link--line-to-left:after {
        width: 72px;
        transform: translateX(82px)
      }
      .link--line-to-left3:after {
        width: 72px;
        transform: translateX(0px)
      }
      .link--line-to-left3 {
        padding-right: 82px
      }
      .link--line-to-left {
        padding-left: 0px;
      }
      .link--line-to-left2:before {
        width: 0;
      }
      .link--line-to-left2:after {
        width: 72px;
        transform: translateX(82px)
      }
      .link--line-to-left2 {
        padding-left: 0px;
      }
    }
    .link--line-to-left3 {
      display: inline-block;
      padding-left: 85px;
      position: relative;
      transition: .708s ease-out
    }
    .link--line-to-left3:before {
      transition: .6s ease-out .108s;
      content: '';
      display: inline-block;
      width: 72px;
      height: 1px;
      background-color: $base;
      position: absolute;
      top: 50%;
      left: 0;
    }
    .link--line-to-left3:after {
      transition: .6s ease-out;
      content: '';
      display: inline-block;
      width: 0;
      height: 1px;
      background-color: #374818;
      position: absolute;
      top: 50%;
      right: 0;
    }
    h3 {
      transform: translateX(2px);
      letter-spacing: 0.10526em;
      padding-top: 25px;
      text-transform: uppercase;
      line-height: 1.36842rem;
      font-weight: 700;
      font-size: 0.7em;
      margin: 0 0 1em 0
    }
    h2 {
      font-size: 2em;
      font-weight: 700;
      text-transform: uppercase;
      padding-top: 2px
    }
    h4 {
      font-size: 1.4em;
      letter-spacing: 0.1em;
      font-weight: 200;
      text-transform: uppercase;
      padding-top: 12px;
      line-height: 1.1
    }
    p {
      font-size: .89474rem;
      line-height: 1.36842rem;
      letter-spacing: 0.04em;
      font-weight: 300;
      padding-top: 12px;
      padding-bottom: 30px;
      text-align: justify;

    }
    .link--line-to-left {
      display: inline-block;
      padding-left: 85px;
      position: relative;
      transition: .708s ease-out
    }
    .field {
      // text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.04em;
      font-size : 0.8em
    }
  }
  .link--line-to-left:before {
    transition: .6s ease-out .108s;
    content: '';
    display: inline-block;
    width: 72px;
    height: 1px;
    background-color: $base;
    position: absolute;
    top: 50%;
    left: 0;
}
.link--line-to-left:after {
  transition: .6s ease-out;
  content: '';
  display: inline-block;
  width: 0;
  height: 1px;
  background-color: #374818;
  position: absolute;
  top: 50%;
  right: 0;
}
.two {
  flex-direction: row-reverse;
  // padding-top: 250px;
}
.rightText {
  text-align: right;
}
.v2 {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin-left: -20px;
}
  
  //About Slider
  .slider--about {
      margin: 0 0 2em 0;
    .slick-slide {
      height: 500px;
      padding: 0;
      width: 101%;
      div {
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        font-family: 'object-fit: cover; object-position: 50% 50%;';
      }
    }
  }
  