.hamburger__container {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    // margin-left: 0;
    // padding: 18px;
    position: relative;
    vertical-align: middle;
    width: 34px;
    z-index: 5;
  
    &:active,
    &:focus {
      outline: none;
    }
  }
  
  .hamburger__burger {
    margin: 0 auto;
    position: relative;
    width: 100%;
  }
  
  .hamburger__bar {
    background-color: white;
    // border-radius: 1px;
    display: block;
    height: 2px;
    margin-bottom: 4px;
    transform-origin: center;
    width: 100%;
  
    &:last-child {
      margin-bottom: 0;
    }
  }
  
