/* ------- *
*  Header  *
* ------- */

//General header styling

.header__container {
  z-index: 2;
  // background: white;
  max-width: $max;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  height: $nav-height;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
}

.blackcircle {
    stroke: $base;
    stroke-dasharray: 180;
    height: 2.5rem;
    width: 2.5rem;
    margin-right:20px;
    stroke-width: 8;
    stroke-miterlimit: 10;
    fill: none;
    transition: all 1s linear;
    transform: rotate(-90deg);
   }
  
.header__container a span {
    width: 200px;
    padding-top: 4px;
    // font-size: 16px;
    float: right;
    &::first-line {
      font-weight:bold;
  }
}


.header__container a:hover .blackcircle .path {
    
    animation: dash 1.5s linear;
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 180;
    }
  }