/* ------- *
*   Menu   *
* ------- */

.menu__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: $base;
  height: 100%;
  width: 100%;
  transform: translate3d(100%, 0, 0);
  margin-top: $nav-height;
  z-index: 100;
  overflow-y: scroll;
  @include bp(medium) {
    width: 50%;
  }
}

.site-nav {
  padding: 5em 4em 0 1em;
  text-align: right;
  li {
    margin-bottom: 0.5em;
  }
  a {
    position: relative;
    display: inline-flex;
    font-size: 1.250em;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    @include bp(medium) {
      font-size: 1.250em;
    }
    
  }
  span {
      position: absolute;
      bottom: 0px;
      width: 0%;
      height: 10px;
      left: 0px;
      background-color: $grey;
      opacity: .5;
      z-index: -1;
      transition: width 0.5s;
      }
}

.site-nav a:hover span {
  width: 80%;
}

.site-nav .icon {
  fill: $base;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin: 0 0 0 .25em;
  fill: white;
}

.site-nav a:hover .icon {
  fill: lighten($base, 25%);
}

@media (hover: none) {
  .site-nav a:hover {
    color: $base;
  }
}

//Menu Social Icons
.site-nav .icon--facebook {
  margin-right: -.5rem;
}

.site-nav .icon--instagram {
  margin-right: -.25rem;
}