// .uncover__slices {
// 	width: 100%;
// 	height: 100%;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	display: flex;
// }
// .uncover__slices--vertical {
//     flex-direction: row;
//     z-index: 1;
// }
// .uncover__slice {
//     color: #fff;
//     // color:$base;
//     // opacity: 1;
// 	background-color: $base;
// 	flex: 1;
// }
.slider {
  position: relative;
}


.item {
  position: absolute;
  top: 0;
  right: 0;
  left:0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-defs {
  width: 100vw;
  height: 100vh;
}
.white-circle {
  position: absolute;
    top: 0;
    left: 0;
  width: 100vw;
  height: 100vh;
}

.svg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    object-position: '50% 50%'
}

  