/* ---------- *
 *  Variables *
 * ---------- */

 @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
 @import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700');

//Colors
$base: #000; // Dark Gray
// $base: #3e3e3e;
$grey: #9ea0a6; 
$secondary: #f1f1f1; // Light Gray
$background: #fff; // White

//Font Family
$sans: 'Lato', sans-serif;
$slab: 'Bitter', serif;

//Max Width
$max: 1320px;


//Nav Height
$nav-height: 73px;

// $nav-height: 80px;
