/* ------- *
 *  LINKS  *
 * ------- */

a {
	color: $base;
}

.container a {
	// text-decoration: underline;
	text-decoration: none;
	color: $base;
	// &:hover {
	// 	color: lighten($base,25%);
	// }
}

@media (hover: none) {
  .container a:hover {
		color: $base;
	}
}